h1 {
  padding-top: 50px;
}
body {
  background-color: #333;
}
.cardsList {
  padding-top: 80px;
  padding-bottom: 80px;
}
.cardImg {
  width: 100%;
  display: block;
}
.cardInfo {
  background-color: #fff;
  padding: 15px;
}
.cardDate {
  color: darkgray;
}

.btn {
  border: none;
  background-color: #333;
  color: white;
  border-radius: 0;
  font-size: 16px;
  padding: 0.6em 1.2em;
}
.btn:hover {
  background-color: #626262;
}
